.image-right {
  max-width: 100%;
  height: auto;
}

.btn-learn {
  color: $orange !important;
}

@media (max-width: 600px) {
  .image-right {
    width: 92%;
  }
}

@media ($tablet_device) {
  .image-right {
    width: 90%;
  }
}
