.our-team {
  background-color: $orange;
}

.team-title {
  color: $white;
}

.team-paragraph {
  color: $white;
}

.v-img__img {
  padding: 16px !important;
}

.member-subtitle {
  color: $grey-2;
}

.member-description {
  line-height: 2 !important;
}

